// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
}



html {
  [class*='text-'] {
    color: #36405a;
    font-family: 'Poppins', sans-serif !important;
  }
  font-family: 'Poppins', sans-serif !important;
}

.card-neumorphism {
  border-radius: 40px!important;
  background: #ecf0f3!important;
  box-shadow: 13px 13px 20px #cbced1,
  -13px -13px 20px #ffffff!important;
}
.btn-neumorphism {
  border-radius: 10px!important;
  background: #ecf0f3!important;
  box-shadow:  5px 5px 10px #b6b6b6,
  -5px -5px 10px #ffffff!important;
}

//.fields {
//  width: 100%;
//  padding: 75px 5px 5px 5px;
//}
.fields .field {
  border: none!important;
  outline:none!important;
  background: none!important;;
  color: #555!important;;
}
.username, .password {
  border-radius: 25px!important;;
  box-shadow: inset 8px 8px 8px #cbced1,
  inset -8px -8px 8px #ffffff!important;;
}

.v-card-glass{
  background: rgb(255, 255, 255) !important;
  box-shadow: 4px 8px 16px 0 rgba( 31, 38, 135, 0.37 )!important;
  backdrop-filter: blur( 6.5px )!important;
  -webkit-backdrop-filter: blur( 6.5px )!important;
  border-radius: 10px!important;
  //border: 2px solid rgba( 255, 255, 255, 0.18 )!important;
}

.v-btn, .v-card-title, .v-banner {
  font-family: 'Poppins', sans-serif !important;
}

